<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>{% block title %}Hotel Pacific Reef{% endblock %}</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
  </head>
  <body>
    <header class="header">
      <div class="header-content">
        <h1>Hotel Pacific Reef</h1>
        <p>Release Semana 8 · Sistema de Gestión de Reserva Hotelera</p>
      </div>

      <nav class="nav">
        <a href="{{ url_for('index') }}">Inicio</a>
        <a href="{{ url_for('disponibilidad') }}">Consultar disponibilidad</a>
        <a href="{{ url_for('destino') }}">Información del destino</a>
        <a href="{{ url_for('admin_reservas') }}">Panel administrador</a>
        <a href="{{ url_for('health_db') }}">Verificar BD</a>
      </nav>
    </header>

    <main class="main">{% block content %}{% endblock %}</main>

    <footer class="footer">
      <p>Hotel Pacific Reef · Prototipo funcional Semana 8 · PRY3211</p>
    </footer>
  </body>
</html>
